<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detail</title>
</head>

<body>
    <h1>Detail</h1>
    <h2>@Model.Name</h2>
    <p>@Model.Price</p>
    <p>@Model.Description</p>
</body>

</html>