@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

@foreach (var product in @Model)
{
    <h1>Detail</h1>
    <h2>@product.Name</h2>
    <p>@product.Price</p>
    <p>@product.Description</p>
}
