@using NetApp.Models
@model List<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}


<ul>
    @foreach (var product in Model)
    {
        <li>
            <button hx-get="@Url.Action("Detail", "Products", new { id = product.Id })" hx-target="#productDetail"
                hx-swap="innerHTML">
                @product.Name
            </button>
        </li>
    }
</ul>

<div id="productDetail">
</div>